---
import Nav from "@/components/nav.astro";
import Layout from "@/layouts/Layout.astro";

import favicon from "../../public/favicons/main.ico";
---

<Nav />
<Layout title="Arpit Sengar | Experience" favicon={favicon}>
    <section class="text-[var(--white)] mt-12 md:mt-0" id="home">
        <div class="max-w-5xl mx-auto space-y-8 md:py-36 pb-14">
            <h3 class="text-4xl md:text-5xl font-medium mb-8">Experience</h3>
        </div>
    </section>
</Layout>