---
import InfiniteMenu from "../React/InfiniteMenu";
import { socialLinks } from "@/data/socialLinks";
import Nav from "@/components/nav.astro";;
---

<head>
  <title>Arpit Sengar | Gallery</title>
  <link rel="icon" href="/favicons/main.ico" />
</head>
<section
  id="links"
  class="text-white bg-[#101010] w-full h-screen border-t border-[#ffffff10] text-[#919191]"
>
  <Nav />
  <div class="w-full h-full bg-[#101010]">
    <InfiniteMenu client:load items={socialLinks} />
  </div>
</section>