---
import ShinyText from "../React/ShinyText";
import { Image } from "astro:assets";
import baatcheet from "../../public/projects/baatcheet.png";
import drishti from "../../public/projects/drishti.png";

interface Project {
  title: string;
  image: ImageMetadata;
  link: string;
  preview: string;
  status: string;
}

const projects: Project[] = [
  {
    title: "Drishti",
    image: drishti as ImageMetadata,
    link: "https://github.com/epicshi",
    preview: "https://drishti-web-app.vercel.app/",
    status: "In Development",
  },
  {
    title: "BaatCheet",
    image: baatcheet as ImageMetadata,
    link: "https://github.com/arpy8/BaatCheet",
    preview: "https://arpy8-baatcheet.hf.space",
    status: "Secure peer-to-peer video communication",
  },
];
---

<section
  id="projects"
  class="py-12 border-t border-[#ffffff10] text-[var(--white)] bg-black"
>
  <div class="max-w-5xl mx-auto">
    <ShinyText
      text="Just some shiny text!"
      disabled={false}
      speed={3}
      className="custom-class"
      client:load
    />
  </div>
</section>